@charset "utf-8";
@import 'variables';
@import '~bourbon/core/bourbon';
@import 'bootstrap-custom';
@import 'fonts/fonts';
@import 'font-awesome-custom';

body,
html {
  background-color: $bg-color;
  font-family: 'Poppins';
  color: $text-default-color;
  width: 100vw;
  height: 100vh;
}
