@import '../../sass/tools';
:host {
  gridster {
    background-color: transparent;

    > gridster-item {
      background-color: $gray-700;

      > .item-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
